.header {
    background: $dark-blue; 
}

.header__content {
    align-items: center;  // to align items vertically 
    display: flex; 
    justify-content: space-between;   // extra space will go in the middle;  
    padding: $s-size 0; 
}

.header__title {
    color: white; 
    text-decoration: none;  // clears default text decoration of underline
    h1 {        // h1 is a nested selector
        margin: 0;  
    }
}

.header__sample {
    color: white; 
    display: inline-block; 
    font-size: $font-size-large;
    font-weight:300;
    line-height: 1; 
    padding: 1.2rem; 
    text-decoration: none; 
}